$border-radius-size-xs: var(--border-radius-size-xs);
$border-radius-size-sm: var(--border-radius-size-sm);
$border-radius-size-md: var(--border-radius-size-md);
$border-radius-size-lg: var(--border-radius-size-lg);
$border-radius-size-xl: var(--border-radius-size-xl);
$border-radius-size-xxl: var(--border-radius-size-xxl);

$spacing-size-xs: var(--spacing-size-xs);
$spacing-size-sm: var(--spacing-size-sm);
$spacing-size-md: var(--spacing-size-md);
$spacing-size-lg: var(--spacing-size-lg);
$spacing-size-xl: var(--spacing-size-xl);

$spacing-contentPadding: var(--spacing-content-padding);
$spacing-contentMargin: var(--spacing-content-margin);
$spacing-global: var(--spacing-global);

$box-shadow-1: var(--box-shadow-1);
$box-shadow-2: var(--box-shadow-2);
$box-shadow-3: var(--box-shadow-3);

$z-index-base: var(--z-index-base);
$z-index-navigation: var(--z-index-navigation);
$z-index-dropDown: var(--z-index-drop-down);
$z-index-page: var(--z-index-page);

$media-querie-xs: var(--media-querie-xs);
$media-querie-sm: var(--media-querie-sm);
$media-querie-md: var(--media-querie-md);
$media-querie-lg: var(--media-querie-lg);
$media-querie-xl: var(--media-querie-xl);
