@import './_colors.scss';
@import './_typography.scss';
@import './_layout.scss';
/* Border-radius */

$border-radius: 10px;
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 15px;
$border-radius-extra-large: 20px;
$border-rounded: 50%;

/* Box-shadow */

$box-shadow-1: 0px 3px 15px rgba(0, 0, 0, 0.05);
$box-shadow-2: 0 4px 4px rgba(0, 0, 0, 0.02), 0 0px 9px rgba(0, 0, 0, 0.09);
$box-shadow-3: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

/* Trnasitions */

$transition-time: 0.3s;
$transition-type: ease;
$transition-delay: 0.3s;

$default-scale: 0.6;

/* Disabled options */

$color-disabled: #c4c9cc;
$opacity-disabled: 0.6;

$color-white: #fff;
$color-outerspace: #373a3c;
$color-outerspace-dark: #2d3133;
$color-bluezodiac: #143559;
$color-rollingstone: #747b80;
$color-bali-hai: #8695b6;
$color-geyser: #dfe3e6;
$color-abbey: #505659;
$color-wildsand: #f6f6f6;
$color-oslogrey: #95989a;
$color-sanjuan: #365777;
$color-dovegray: #707070;
$color-graychateau: #9ca2a6;
$color-room-available: #0ccb81;
$color-smiles: #f57921;
$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$width-site: 1200px;

$global-padding: 20px;
$margin-spacing: 40px;
$content-margin: 80px;
$content-padding: 20px;

/* z-index */

$z-index-default: 1;
$z-index-navigation: 10;
$z-index-dropdown: 100;
$z-index-page: 10000;

@media (max-width: 768px) {
    $margin-spacing: 25px;
}

