:root{
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 10px;
    --border-radius-lg: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 50px;

    --spacing-xs: 8px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --spacing-xxl: 80px;
    --spacing-content-padding: var(--spacing-lg);
    --spacing-content-margin: var(--spacing-xxl);
    --spacing-global: var(--spacing-lg);

    --box-shadow-1: 0px 3px 15px rgba(0, 0, 0, 0.05);
    --box-shadow-2: 0 4px 4px rgba(0, 0, 0, 0.02), 0 0px 9px rgba(0, 0, 0, 0.09);
    --box-shadow-3: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

    --z-index-base: 1;
    --z-index-navigation: 10;
    --z-index-drop-down: 100;
    --z-index-page: 1000;

    --media-querie-xs: 480px;
    --media-querie-sm: 576px;
    --media-querie-md: 768px;
    --media-querie-lg: 992px;
    --media-querie-xl: 1200px;
    --media-querie-xxl: 1400px;

    --border-base: 1px solid var(--color-grey-300);
    --border-focus: 1px solid var(--color-secondary);
    --border-success: 1px solid var(--color-success);
    --border-error: 1px solid var(--color-error);
    --border-warning: 1px solid var(--color-warning);

		--transition-duration: '0.3s';
		--transition-delay: 0.3;
		--transition-property: 'all';
		--transition-timing-function: 'ease';
		--transition-default: var(transition-property) var(transition-duration) var(--transition-timing-function);
}
